{% extends "product_views/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="p-5 mb-4 rounded-3"
        style="background-image:url(https://www.form-at.ru/assets/images/USLUGI/Commercheskie/bakery/bakery-6.jpg);">
        <div class="container-fluid py-5 text-white">
            <h1 class="display-5 fw-bold text-center">Пекарня <span style="font-family: 'Pacifico';">"Династия"</span>
            </h1>
            <p class="fs-4 text-center mt-5">У нас всегда найдётся чем удивить!</p>
        </div>
    </div>
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-white rounded-3"
                style="background-image: url(https://img.freepik.com/free-photo/empty-wooden-table-with-smoke-floating-up-dark-background_68495-158.jpg?size=626&ext=jpg)">
                <h2>Нам доверяют</h2>
                <p>Наш хлеб подают в отличных заведениях Минска. Доверие к нашей продукции со стороны таких клиентов ещё
                    раз подтверждает отменное качество нашей работы.</p>
                <a class="btn btn-primary" href="{% url 'product_views:company_reviews' %}">Смотреть отзывы</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 border rounded-3"
                style="background-image: url(https://thumbs.dreamstime.com/b/top-view-bright-wooden-table-top-view-bright-wooden-table-boards-texture-wood-wooden-floor-169015107.jpg); background-repeat: no-repeat;background-size: cover">
                <h2>Предлагаем только лучшее</h2>
                <p>Ежедневно мы создаем ароматный хлеб на закваске, сливочные круассаны, печенье и многое другое. Всю
                    продукцию можно приобрести онлайн на сайте.</p>
                <a class="btn btn-primary" href="{% url 'product_views:menu' %}">Смотреть меню</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}