/* arbitrary */
.heading-title{
    font-size: 48px;
    font-family: 'Lobster', cursive;
}

.btn-primary {
    background-color: #e0cfaf !important;
    color:black !important;
    border: none !important;
}

.btn-primary:hover{
    background-color: #6b655a !important;
    color:white !important;
    border: none !important;
}
.no-padding-left {
    padding-left: 0px !important;
}

.no-padding-right {
    padding-right: 0px !important;
}

.wrapper {
    min-height:  100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content{
    /* height: 1px; */
    min-height: 100%;
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
}

/* header */
.header{
    height: 75px;
}
.navbar {
    background-color: #e0cfaf;
}

.fa-shopping-cart{
    color: grey;
}

.fa-shopping-cart:hover{
    color: black;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
}
.logo-name{
    font-family: 'Pacifico', cursive;
    font-size: 25pt !important;
}

/* products */
.card-img {
    width: 400px;  
    height: 293px;  
}

.card-img:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.card {
    border: none !important;
}

.products-font {
    font-size: 14pt;
    font-weight: bold;
}

.products-links {
    color: rgb(63, 58, 58);
}

.products-links:hover {
    color: #836f4b;
}


/* product details */

.product-detail-img {
    width: 400px;
    height: 450px;
}

.header-detail-font {
    font-family: 'Amatic SC', cursive;
}

.product-detail-price {
    color: #7a643b;
    font-size: 20pt;
    font-family: 'Lobster', cursive;
}

.add-to-card-detail-div {
    position: relative;
}
.add-to-card-detail-form {
    position: absolute;
    bottom: 0;
}

/* cart */
.cart-row-color {
    background-color: #f9f9f9;
}

.product-img-in-cart {
    width: 120px;
    height: 150px;
}

/* auth */
.form-container {
    min-height: 700px;
}

.footer {
    background-color: #222;
}

/* raiting stars */
.rate {
    float: left;
    height: 46px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}